/* Valores predeterminados para guardar 🔥 */
:root {
  --primary: #2D9CDB;
  --secondary: #56CCF2;
  --text: #333333;
  --bg: #F7F9FC;
}

/* Declaraciones generales para los proyectos 😊 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Modificaciones en el header 
INICIO 👇 */

header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegador {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 5%;
}
.navegador ul{
    display: flex;  
}
.navegador ul li {
    list-style: none;
    margin: 10px;
}
.navegador ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
}
.navegador ul li a:hover{
  color: #ff0000;
  transition: color 0.5s, transform 0.5s;
}



/* Modificaciones para los iconos 🎊 */
.social-icons {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
  text-align: center; /* Centrado en su area */
}

.social-icons a {
  margin: 0 12px;
  font-size: 2rem; /* Cambia el tamaño */
  color: #333;     /* Color inicial */
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #2d9cdb;     /* Color al pasar el mouse */
  transform: scale(1.2);
}

/* INICIA EL HERO 🍃 */

#hero {
  width: 100%;
  height: 92vh;
}
#hero div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-hero {
  width: 660px;
  height: 420px;
  position: absolute;
  top: 35%;
}
#title-h2 {
  font-size: 8rem;
  position: absolute;
  top: 22%;
}


/* ANIMACIONES 🎊🎊🎊 */

.underline-link {
  position: relative;
  color: #000; /* Color del texto */
  text-decoration: none;
}

.underline-link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0; /* Distancia debajo del texto */
  width: 0%;
  height: 30px;
  background-color: #3498db4c; /* Color de la línea */
  transition: width 0.3s ease-in-out;
  border-bottom : solid 2px #3498db;
}

.underline-link:hover::after {
  width: 100%;
  
}

/* 👇 Línea visible si está activa */
.underline-link.active::after {
  width: 100%;
  left: 0;
  right: auto;
}