/* Valores predeterminados para guardar 🔥 */
:root {
  --primary: #2D9CDB;
  --secondary: #56CCF2;
  --text: #333333;
  --bg: #F7F9FC;
}

/* Declaraciones generales para los proyectos 😊 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-image: url('./docs/assets/img/fondogeneral.jpg');
  background-repeat: no-repeat;          /* Evita que se repita */
  background-size: cover;                /* Cubre todo el contenedor */
  background-position: center center;   /* Centra la imagen */
  background-attachment: fixed;          /* Fija el fondo al hacer scroll */
  margin: 0;                            /* Quita márgenes para que ocupe toda la pantalla */
  height: 100vh;                       /* Asegura que body ocupe toda la altura */
}


/* Modificaciones en el header 
INICIO 👇 */

header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #00000094;
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegador {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 5%;
}
.navegador ul{
    display: flex;  
}
.navegador ul li {
    list-style: none;
    margin: 10px;
}
.navegador ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
}
.navegador ul li a:hover{
  color: #ffffff;
  transition: color 0.5s, transform 0.5s;
}



/* Modificaciones para los iconos 🎊 */
.social-icons {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
  text-align: center; /* Centrado en su area */
}

.social-icons a {
  margin: 0 12px;
  font-size: 2rem; /* Cambia el tamaño */
  color: #333;     /* Color inicial */
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #2d9cdb;     /* Color al pasar el mouse */
  transform: scale(1.2);
}

/* INICIA EL HERO 🍃 */

#hero {
  width: 100%;
  height: 150vh;
}
#hero div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-hero {
  width: 500px;
  height: 500px;
  position: absolute;
  bottom: 4px;
  
}
.division {
  border: none;
  border-bottom: 7px solid rgba(0, 0, 0, 0.412);
  position: absolute;
  width: 60%;
  bottom: 0;
}

#cambiador{
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 22%;
  display: inline-block;
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 1;
  transform: scale(1);
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #ffffff; /* Simula un cursor */
  padding-right: 10px;
  
}
.hidden {
  opacity: 0;
  transform: scale(0.9); /* Hace que parezca que se contrae al salir */
}


/* ANIMACIONES 🎊🎊🎊 */

.underline-link {
  position: relative;
  color: #000; /* Color del texto */
  text-decoration: none;
}

.underline-link::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0; /* Distancia debajo del texto */
  width: 0%;
  height: 30px;
  background-color: #eb74054c; /* Color de la línea */
  transition: width 0.3s ease-in-out;
  border-bottom : solid 2px #eb7405;
}

.underline-link:hover::after {
  width: 100%;
  
}

/* 👇 Línea visible si está activa */
.underline-link.active::after {
  width: 100%;
  left: 0;
  right: auto;
}
